.top-logo {
    width: 100%;
}

.top-logo__top {
    width: 100%;
    height: 260px;
    position: relative;
    background-color: var(--black);
}

.top-logo__top-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.top-logo__top-bg-nose {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.top-logo__top-bg-mobile {
    display: block;
}
.top-logo__top-bg-nose-mobile {
    display: block;
}
.top-logo__top-bg-ipad {
    display: none;
}
.top-logo__top-bg-nose-ipad {
    display: none;
}
.top-logo__top-bg-desktop {
    display: none;
}
.top-logo__top-bg-nose-desktop {
    display: none;
}

.top-logo__top-text-wrapper {
    width: 100%;
    height: 100%;
    padding: 64px 32px 0 32px;
    position: relative;
    z-index: 4;
}

.top-logo__top-text-wrapper-line1, .top-logo__top-text-wrapper-line2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    position: relative;
    z-index: 4;
}

.top-logo__top-bg-phone {
    display: none;
}

.top-logo__appstore-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    background: var(--darkred);
    border: 1px solid var(--darkred);
    box-sizing: border-box;

    width: 100px;
    height: 32px;
    padding: 0 9px;
    margin-top: 24px;
    border-radius: 5px;
}

.top-logo__appstore-btn-icon {
    width: 16px;
    height: 20px;
}

.top-logo__appstore-btn-text {
    margin-left: 8px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 600;
}

.top-logo__appstore-btn-text-line1 {
    font-size: 8px;
    line-height: 10px;
}

.top-logo__appstore-btn-text-line2 {
    font-size: 10px;
    line-height: 13px;
}

.top-logo__bottom {
    background: var(--darkwhite);
}

.top-logo__bottom-content {
    text-align: left;
    padding: 16px 32px 14px 32px;
}

.top-logo__bottom-text {
    font-style: normal;
    font-weight: normal;
    color: var(--black);
    font-size: 12px;
    line-height: 18px;
}

@media screen and (min-width: 768px) {
    .top-logo__top {
        height: 520px;
    }

    .top-logo__top-bg-mobile {
        display: none;
    }
    .top-logo__top-bg-nose-mobile {
        display: none;
    }
    .top-logo__top-bg-ipad {
        display: block;
    }
    .top-logo__top-bg-nose-ipad {
        display: block;
    }
    .top-logo__top-bg-desktop {
        display: none;
    }
    .top-logo__top-bg-nose-desktop {
        display: none;
    }

    .top-logo__top-text-wrapper {
        padding: 126px 48px 0 48px;
    }

    .top-logo__top-text-wrapper-line1, .top-logo__top-text-wrapper-line2 {
        font-size: 48px;
        line-height: 64px;
    }

    .top-logo__appstore-btn {
        width: 200px;
        height: 64px;
        padding: 0 19px;
        margin-top: 56px;
        border-radius: 9px;
    }

    .top-logo__appstore-btn-icon {
        width: 33px;
        height: 40px;
    }

    .top-logo__appstore-btn-text {
        margin-left: 16px;
    }

    .top-logo__appstore-btn-text-line1 {
        font-size: 16px;
        line-height: 20px;
    }

    .top-logo__appstore-btn-text-line2 {
        font-size: 21px;
        line-height: 26px;
    }


    .top-logo__bottom-content {
        padding: 48px 48px 34px 48px;
    }

    .top-logo__bottom-text {
        font-size: 20px;
        line-height: 34px;
    }
}

@media screen and (min-width: 1440px) {
    .top-logo__top {
        height: 520px;
    }

    .top-logo__top-bg-phone {
        position: absolute;
        top: 67px;
        right: 80px;
        z-index: 3;
        display: block;
    }

    .top-logo__top-bg-mobile {
        display: none;
    }
    .top-logo__top-bg-nose-mobile {
        display: none;
    }
    .top-logo__top-bg-ipad {
        display: none;
    }
    .top-logo__top-bg-nose-ipad {
        display: none;
    }
    .top-logo__top-bg-desktop {
        display: block;
    }
    .top-logo__top-bg-nose-desktop {
        display: block;
    }

    .top-logo__top-text-wrapper {
        margin: 0 auto;
        max-width: 1120px;
        padding-top: 126px;
        position: relative;
        z-index: 4;
    }

    .top-logo__top-text-wrapper-line1, .top-logo__top-text-wrapper-line2 {
        font-size: 48px;
        line-height: 64px;
    }

    .top-logo__appstore-btn {
        width: 200px;
        height: 64px;
        padding: 0 19px;
        margin-top: 56px;
        border-radius: 9px;
    }

    .top-logo__appstore-btn-text {
        margin-left: 16px;
    }

    .top-logo__appstore-btn-text-line1 {
        font-size: 16px;
        line-height: 20px;
    }

    .top-logo__appstore-btn-text-line2 {
        font-size: 21px;
        line-height: 26px;
    }


    .top-logo__bottom-content {
        height: 184px;
        margin: 0 auto;
        max-width: 1120px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    .top-logo__bottom-text {
        width: 660px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 34px;
        color: var(--black);
    }
}
