.blog {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.blog__content {
    padding: 24px 15px;
    max-width: 344px;
    margin: 0 auto;
    /*flex: 1 0 0;*/
}

.blog-pre-post-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    max-width: 344px;
    height: 522px;
}

@media screen and (min-width: 768px) {
    .blog__content {
        padding: 32px 24px;
        padding-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 768px;
    }
    .blog-pre-post-wrapper-featured {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
        height: 716px;
    }

    .blog-pre-post-wrapper {
        margin-top: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .blog-pre-post-wrapper-featured {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: none;
        height: 389px;
    }
    .blog__content {
        padding: 43px 24px;
        padding-bottom: 0;
        max-width: 1215px;
        margin: 0 auto;
        justify-content: flex-start;
    }
    .blog-pre-post-wrapper {
        margin: 22px;
    }
}
