/* Variables
/* ---------------------------------------------------------- */

:root {
    --darkred: #CA3947;
    --red: #E8394A;
    --black: #202026;
    --darkgray: #50505E;
    --gray: #82828C;
    --lightgray: #E0E0E7;
    --darkwhite: #F3F3F6;
    --white: #F9F9FA;

    --mobile-min: 375px;
    --mobile-max: calc(var(--ipad-min) - 1px);
    --ipad-min: 768px;
    --ipad-max: calc(var(--desktop-min) - 1px);
    --desktop-min: 1440px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p {
    margin: 0;
    padding: 0;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.body-wrapper {
    flex: 1 0 0;
    margin-top: 96px;
}

* {
    box-sizing: border-box;
}
