/* Variables
/* ---------------------------------------------------------- */

:root {
    --darkred: #CA3947;
    --red: #E8394A;
    --black: #202026;
    --darkgray: #50505E;
    --gray: #82828C;
    --lightgray: #E0E0E7;
    --darkwhite: #F3F3F6;
    --white: #F9F9FA;

    --mobile-min: 375px;
    --mobile-max: calc(var(--ipad-min) - 1px);
    --ipad-min: 768px;
    --ipad-max: calc(var(--desktop-min) - 1px);
    --desktop-min: 1440px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p, ul {
    margin: 0;
    padding: 0;
}

.site-wrapper {
    /*display: flex;*/
    /*flex-direction: column;*/
    display: block;
    /*flex: 1 0 0;*/
    width: 100%;
}

.body-wrapper {
    /*flex: 1 0 0;*/
    width: 100%;
    margin-top: 56px;
    display: flex;
}
@media screen and (min-width: 768px) {
    .body-wrapper {
        margin-top: 88px;
    }
}
@media screen and (min-width: 1440px) {
    .body-wrapper {
        margin-top: 96px;
    }
}

* {
    box-sizing: border-box;
}

.kg-width-wide {}

.kg-width-full {}

.kg-gallery-container {}

.kg-gallery-row {}

.kg-gallery-image {}

.kg-bookmark-card {}

.kg-bookmark-container {}

.kg-bookmark-content {}

.kg-bookmark-title {}

.kg-bookmark-description {}

.kg-bookmark-metadata {}

.kg-bookmark-icon {}

.kg-bookmark-author {}

.kg-bookmark-publisher {}

.kg-bookmark-thumbnail {}
