/* Variables
/* ---------------------------------------------------------- */

:root {
    --darkred: #CA3947;
    --red: #E8394A;
    --black: #202026;
    --darkgray: #50505E;
    --gray: #82828C;
    --lightgray: #E0E0E7;
    --darkwhite: #F3F3F6;
    --white: #F9F9FA;
}
