.site-header {
    background: #FFFFFF;
    box-shadow: 0 2px 12px rgba(130, 130, 140, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.site-header__content {
    height: 56px;
    padding: 0 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.site-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.site-logo__link {
    text-decoration: none;
}

.site-logo__image {
    width: 40px;
    height: 40px;
}

.site-logo__title {
    font-style: normal;
    font-weight: 500;
    color: var(--black);
    margin: 0 0 0 20px;
    font-size: 12px;
    line-height: 14px;
}

.site-logo__line1 {
    display: block;
}

.site-logo__line2 {
    white-space: nowrap;
}

.top-navigation, .appstore-button {
    display: none;
}

@media screen and (min-width: 768px) {

    .site-header__content {
        height: 88px;
        padding: 0 32px;
        justify-content: space-between;
    }

    .site-logo__image {
        width: 64px;
        height: 64px;
    }

    .site-logo__title {
        font-size: 16px;
        line-height: 20px;
    }

    .top-navigation {
        display: block;
        margin-left: 65px;
    }

    .top-navigation__list {
        width: 428px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
    }

    .top-navigation__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .top-navigation__item:first-child {
        position: relative;
        padding-right: 25px;
    }

    .top-navigation__item:first-child:after {
        content: '';
        height: 31px;
        width: 10px;
        background-image: url("../images/blog-staff.svg");
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .top-navigation__item:first-child:before {
        content: '';
        width: 5px;
        height: 5px;
        background-image: url("../images/blog-circle.svg");
        background-repeat: no-repeat;
        position: absolute;
        right: 18px;
        top: 2px;
    }

    .top-navigation__label {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--darkgray);
        text-decoration: none;
        padding: 0 8px;
        white-space: nowrap;
    }

    .top-navigation__label-active {
        position: relative;
    }

    .top-navigation__label-active::after {
        content: '';
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--darkred);
    }

    .top-navigation__blog-label {
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
    }

    .top-navigation__blog-circle {
        margin: 0 0 20px 3px;
    }

    .top-navigation__blog-staff {
        margin-left: 10px;
        height: 40px;
    }

    .appstore-button {
        display: none;
    }
}

@media screen and (min-width: 1440px) {

    .site-header__content {
        margin: 0 auto;
        padding: 0;
        max-width: 1120px;
        height: 96px;
        justify-content: flex-start;
    }

    .site-logo__image {
        width: 72px;
        height: 72px;
    }

    .site-logo__title {
        font-size: 20px;
        line-height: 24px;
    }

    .top-navigation {
        margin-left: 92px;
    }

    .top-navigation__list {
        width: 526px;
    }

    .top-navigation__label {
        font-size: 15px;
    }

    .top-navigation__blog-label {
        font-size: 16px;
    }

    .appstore-button {
        text-decoration: none;
        margin-left: auto;
        width: 152px;
        height: 48px;
        border: 1px solid var(--darkred);
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .appstore-button__content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .appstore-button__icon {
        width: 23px;
        height: 28px;
    }

    .appstore-button__text-wrapper {
        font-style: normal;
        font-weight: 500;
        color: var(--black);
        margin-left: 12px;
    }

    .appstore-button__line1 {
        font-size: 12px;
        line-height: 15px;
    }

    .appstore-button__line2 {
        font-size: 16px;
        line-height: 20px;
    }
}

.navigation-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);

    margin: 0 50px 0 auto;
    padding-left: 24px;
}

.navigation-mobile-active span {
    position: relative;
}

.navigation-mobile-active span:after {
    content: '';
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--darkred);
}

.navigation-mobile__icon {
    padding: 6px;
    cursor: pointer;
}

.navigation-mobile__icon-open {
    transform: rotate(180deg);
    transform-origin: center;
}

.navigation-mobile__list {
    display: none;
    padding: 24px;
    list-style-type: none;
    text-align: center;
}

.navigation-mobile__list-open {
    display: block;
}

.navigation-mobile__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--darkgray);
    text-decoration: none;
}

.navigation-mobile__link-active {
    position: relative;
}

.navigation-mobile__link-active:after {
    content: '';
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--darkred);
}

@media screen and (min-width: 768px) {
    .navigation-mobile, .navigation-mobile__list {
        display: none;
    }
}
