<footer class="site-footer">
    <div class="site-footer__top">

        <div class="footer-logo">
            <img src="{{asset "images/footer-logo.svg"}}" class="footer-logo__icon" />
            <div class="footer-logo__text">
                <div class="footer-logo__line1">
                    Decibel
                </div>
                <div class="footer-logo__line2">
                    Sound Meter Pro
                </div>
            </div>
        </div>

        <div class="footer-policy-wrapper">
            <a href="#" class="footer-policy">Политика конфиденциальности</a>
            <a href="#" class="footer-policy">Свяжитесь с нами</a>
        </div>

        <div class="footer-copy-right">
            © 2020
        </div>

    </div>
    <div class="site-footer__bottom">
        <a href="#" class="footer-policy">Политика конфиденциальности</a>
        <a href="#" class="footer-policy">Свяжитесь с нами</a>
    </div>
</footer>