<div class="newest-posts">
    <div class="newest-posts__content">
        <div class="newest-posts__header1">
            Всё о шуме и методах борьбы с ним читайте <a href="/blog">в блоге</a>
        </div>
        <div class="newest-posts__header2-ipad">
            <img src="{{asset "images/home/newest-posts/header2-ipad.svg"}}" />
            <span>Всё о шуме и методах борьбы с ним читайте <a href="/blog">в блоге</a></span>
        </div>
        <div class="newest-posts__header2-desktop">
            <img src="{{asset "images/home/newest-posts/header2-desktop.svg"}}" />
            <span>Всё о шуме и методах борьбы с ним читайте <a href="/blog">в блоге</a></span>
        </div>
        <div class="newest-posts__posts-wrapper">
            {{#get "posts" include="tags,authors"}}
                {{#foreach posts limit="4"}}
                    <div class="home-pre-post-wrapper">
                        {{> "pre-post" }}
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</div>